a,
button,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

*,
:focus {
    outline: 0
}

* {
    box-sizing: border-box
}

a:focus {
    outline: 0
}

img {
    max-width: 100%
}

body,
html {
    height: 100%
}

body {
    position: relative;
    font-size: 10px;
    min-width: 320px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-family: Open Sans, sans-serif
}

main {
    overflow: hidden
}

.container {
    max-width: 133em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto
}

@media(max-width:1800px) {
    .container {
        max-width: 73.88889vw;
        padding-left: 1.11111vw;
        padding-right: 1.11111vw
    }
}

.lg-container {
    max-width: 169.7em;
    padding-left: 4.8em;
    padding-right: 4.8em;
    margin: 0 auto
}

@media(max-width:1800px) {
    .lg-container {
        max-width: 94.27778vw;
        padding-left: 2.66667vw;
        padding-right: 2.66667vw
    }
}

.wrap {
    max-width: 116em;
    margin: 0 auto
}

.zoom-element {
    zoom: 170%
}

@media(max-width:1800px) {
    .wrap {
        max-width: 64.44444vw
    }
}

.row {
    margin-left: -1.5em;
    margin-right: -1.5em
}

@media(max-width:1800px) {
    .row {
        margin-left: -.83333vw;
        margin-right: -.83333vw
    }
}

.row-before,
.row:after {
    display: table;
    content: ""
}

.row-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -1em;
    margin-right: -1em
}

.row-flex:after,
.row-flex:before {
    content: "";
    display: table
}

.row-flex:after {
    clear: both
}

@media(max-width:1800px) {
    .row-flex {
        margin-left: -.55556vw;
        margin-right: -.55556vw
    }
}

.col-md-4 {
    width: 33.33333%;
    float: left;
    padding-left: 1em;
    padding-right: 1em
}

@media(max-width:1800px) {
    .col-md-4 {
        padding-left: .55556vw;
        padding-right: .55556vw
    }
}

.col-md-5 {
    width: 42%;
    float: left;
    padding-left: 1em;
    padding-right: 1em
}

@media(max-width:1800px) {
    .col-md-5 {
        padding-left: .55556vw;
        padding-right: .55556vw
    }
}

.col-md-6 {
    width: 50%;
    float: left;
    padding-left: 1.5em;
    padding-right: 1.5em
}

@media(max-width:1800px) {
    .col-md-6 {
        padding-left: .83333vw;
        padding-right: .83333vw
    }
}

.col-md-7 {
    width: 58%;
    float: left;
    padding-left: 1em;
    padding-right: 1em
}

@media(max-width:1800px) {
    .col-md-7 {
        padding-left: .55556vw;
        padding-right: .55556vw
    }
}

.col-md-8 {
    width: 66.66666%;
    float: left;
    padding-left: 1em;
    padding-right: 1em
}

@media(max-width:1800px) {
    .col-md-8 {
        padding-left: .55556vw;
        padding-right: .55556vw
    }
}

.col-md-12 {
    width: 100%;
    float: left;
    padding-left: 1.5em;
    padding-right: 1.5em
}

@media(max-width:1800px) {
    .col-md-12 {
        padding-left: .83333vw;
        padding-right: .83333vw
    }
}

h2 {
    font-weight: 600;
    color: #3f3f40;
    margin-bottom: .41667em;
    font-size: 2.6em
}

@media(max-width:1800px) {
    h2 {
        margin-bottom: .55556vw;
        font-size: 1.44444vw
    }
}

p {
    line-height: 1.43;
    font-family: Open Sans, sans-serif;
    font-size: 1.4em
}

@media(max-width:1800px) {
    p {
        font-size: .77778vw
    }
}

a {
    text-decoration: none
}

.modal-box {
    display: none
}

.fancybox-slide--iframe .fancybox-content {
    max-width: 80em;
    max-height: 60em
}

@media(max-width:1800px) {
    .fancybox-slide--iframe .fancybox-content {
        max-width: 44.44444vw;
        max-height: 33.33333vw
    }
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 999999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #004075
}

.preloader-img,
.preloader-img svg {
    width: 120px;
    height: 40px
}

.thumb-video {
    text-align: left;
    margin-top: 2em
}

@media(max-width:1800px) {
    .thumb-video {
        margin-top: 1.11111vw
    }
}

.thumb-video__content {
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 26.3em
}

@media(max-width:1800px) {
    .thumb-video__content {
        height: 14.61111vw
    }
}

.thumb-video__content-time {
    display: inline-block;
    border-radius: 1.4px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, .65);
    padding-right: .8em;
    padding-left: .8em;
    bottom: .8em;
    right: 1.2em
}

@media(max-width:1800px) {
    .thumb-video__content-time {
        padding-right: .44444vw;
        padding-left: .44444vw;
        bottom: .44444vw;
        right: .66667vw
    }
}

.thumb-video__content-time span {
    opacity: .7;
    color: #fff;
    line-height: 1.4;
    font-size: 2.6em
}

@media(max-width:1800px) {
    .thumb-video__content-time span {
        font-size: 1.44444vw
    }
}

.thumb-video__content-image {
    width: 100%;
    height: 100%
}

.thumb-video__content-image iframe,
.thumb-video__content-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.thumb-video__content-mouse {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    display: none
}

.thumb-video__content-mouse img {
    height: 105%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.thumb-video__description {
    padding: 1.4em 1.9em;
    min-height: 17.5em
}

@media(max-width:1800px) {
    .thumb-video__description {
        padding-top: .77778vw;
        padding-bottom: .77778vw;
        padding-right: 1.05556vw;
        padding-left: 1.05556vw;
        min-height: 9.72222vw
    }
}

.thumb-video__description-title {
    line-height: 1.25;
    letter-spacing: -.2px;
    color: #3f3f40;
    font-weight: 600;
    font-size: 2.4em
}

@media(max-width:1800px) {
    .thumb-video__description-title {
        font-size: 1.33333vw
    }
}

.thumb-video__description p {
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -.4px;
    color: #757575;
    font-size: 2.4em
}

@media(max-width:1800px) {
    .thumb-video__description p {
        font-size: 1.33333vw
    }
}

.thumb-video__description span {
    display: inline-block;
    line-height: 1.82;
    letter-spacing: -1px;
    color: #757575;
    margin-right: .68182em;
    font-size: 2.2em
}

@media(max-width:1800px) {
    .thumb-video__description span {
        margin-right: .83333vw;
        font-size: 1.22222vw
    }
}

.thumb-video__description span:last-child {
    margin-right: 0
}

.thumb-goods {
    text-align: left;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #efefef;
    margin-top: 2em
}

@media(max-width:1800px) {
    .thumb-goods {
        margin-top: 1.11111vw
    }
}

.thumb-goods__image {
    width: 100%;
    background-color: #efefef;
    height: 39.4em
}

@media(max-width:1800px) {
    .thumb-goods__image {
        height: 21.88889vw
    }
}

.thumb-goods__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.thumb-goods__description {
    padding: 3em 3.2em 4em 3em
}

@media(max-width:1800px) {
    .thumb-goods__description {
        padding-top: 1.66667vw;
        padding-bottom: 2.22222vw;
        padding-right: 1.77778vw;
        padding-left: 1.66667vw
    }
}

.thumb-goods__description-title {
    line-height: 1.4;
    color: #000;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: .8em
}

@media(max-width:1800px) {
    .thumb-goods__description-title {
        font-size: 1.38889vw;
        margin-bottom: 1.11111vw
    }
}

.thumb-goods__description p {
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    color: #000;
    opacity: .6;
    text-align: justify;
    font-size: 2.2em
}

@media(max-width:1800px) {
    .thumb-goods__description p {
        font-size: 1.22222vw
    }
}

.thumb-goods__description .result {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3em
}

@media(max-width:1800px) {
    .thumb-goods__description .result {
        margin-top: 1.66667vw
    }
}

.thumb-goods__description .result span {
    display: inline-block;
    color: #3f3f40;
    line-height: normal;
    font-size: 3.6em;
    margin-top: .13889em
}

@media(max-width:1800px) {
    .thumb-goods__description .result span {
        font-size: 2vw;
        margin-top: .27778vw
    }
}

.ic {
    display: inline-block
}

.ic-search {
    width: 2.6em;
    height: 2.6em
}

@media(max-width:1800px) {
    .ic-search {
        width: 1.44444vw;
        height: 1.44444vw
    }
}

.ic-search svg {
    width: 100%;
    height: 100%
}

.btn {
    display: inline-block
}

.btn-more {
    font-weight: 700;
    text-align: center;
    color: #352d00;
    line-height: 1.82;
    letter-spacing: -1px;
    border-radius: 6px;
    border: 3px solid #352d00;
    text-transform: uppercase;
    background-color: #ffe907;
    transition: .3s;
    font-size: 2.6em;
    padding: .30769em 1.15385em;
    margin-top: 1.53846em
}

@media(max-width:1800px) {
    .btn-more {
        font-size: 1.44444vw;
        padding-top: .44444vw;
        padding-bottom: .44444vw;
        padding-right: 1.66667vw;
        padding-left: 1.66667vw;
        margin-top: 2.22222vw
    }
}

.btn-more:hover {
    border-color: #ffe907;
    background-color: #352d00;
    color: #ffe907
}

.btn-buy {
    display: inline-block;
    width: 18.9em;
    height: 5.8em
}

@media(max-width:1800px) {
    .btn-buy {
        width: 10.5vw;
        height: 3.22222vw
    }
}

.btn-buy img,
.btn-buy svg {
    width: 100%;
    height: 100%
}

.btn-toggle {
    width: 21px;
    height: 3px;
    background-color: #fff;
    border: 0;
    transition: .6s;
    display: inline-block
}

.btn-toggle:after,
.btn-toggle:before {
    position: absolute;
    content: "";
    top: 50%;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: .5s;
    background-color: #fff
}

.btn-toggle:before {
    margin-top: -8px
}

.btn-toggle:after {
    margin-top: 4px
}

.btn-send {
    font-weight: 700;
    text-align: center;
    color: #3f3f40;
    line-height: 1.82;
    letter-spacing: -1px;
    border-radius: 6px;
    border: 2px solid #1965b3;
    text-transform: uppercase;
    background: #1965b3;
    color: #fff;
    transition: .5s;
    font-size: 1.6em;
    padding: .375em 2.5em;
    margin-top: 1.25em
}

@media(max-width:1800px) {
    .btn-send {
        font-size: .88889vw;
        padding-top: .33333vw;
        padding-bottom: .33333vw;
        padding-right: 2.22222vw;
        padding-left: 2.22222vw;
        margin-top: 1.11111vw
    }
}

.btn-send:hover {
    color: #1965b3;
    background: #fff
}

.hamburger-js {
    display: none;
    right: 0;
    width: 21px;
    height: 21px
}

.hamburger-js,
.header {
    position: absolute;
    z-index: 2
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1em
}

@media(max-width:1800px) {
    .header {
        padding-top: .55556vw
    }
}

.header .lg-container,
.header .nav {
    position: relative
}

.header .nav {
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    float: right;
    padding-top: 2.7em
}

@media(max-width:1800px) {
    .header .nav {
        padding-top: 1.5vw
    }
}

.header .logo {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 25.7em;
    height: 15.6em
}

@media(max-width:1800px) {
    .header .logo {
        width: 14.27778vw;
        height: 8.66667vw
    }
}

.header .logo img {
    width: 100%;
    height: 100%
}

.header .menu>li {
    display: inline-block;
    list-style: none;
    position: relative;
    opacity: 1;
    transition: transform .3s, opacity .2s .1s;
    margin-right: 4em
}

@media(max-width:1800px) {
    .header .menu>li {
        margin-right: 2.22222vw
    }
}

.header .menu>li.menu-item-has-children {
    cursor: pointer
}

.header .menu>li.menu-item-has-children>a:after {
    content: "";
    position: relative;
    display: inline-block;
    transform: rotate(180deg);
    background-image: url(../img/pages/svg/dropdown.svg);
    background-size: 100% 100%;
    top: .09524em;
    width: .85714em;
    height: .71429em;
    margin-left: .2381em
}

.form-success-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .4);
    display: none
}

.form-success-popup-inner {
    max-width: 480px;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 18px;
    text-align: center
}

.form-success-popup .right-icon {
    margin: 20px auto;
    width: 90px;
    height: 90px;
    border-radius: 50%
}

.form-success-popup h3 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block
}

.form-success-popup p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin: 0
}

.form-success-popup a.success-ok {
    background-color: #8cd4f5;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0;
    display: inline-block
}

@media(max-width:1800px) {
    .header .menu>li.menu-item-has-children>a:after {
        top: .11111vw;
        width: 1vw;
        height: .83333vw;
        margin-left: .27778vw
    }
}

.header .menu>li:first-child {
    transition-delay: .4s
}

.header .menu>li:nth-child(2) {
    transition-delay: .5s
}

.header .menu>li:nth-child(3) {
    transition-delay: .6s
}

.header .menu>li:nth-child(4) {
    transition-delay: .7s
}

.header .menu>li:nth-child(5) {
    transition-delay: .8s
}

.header .menu>li:hover ul {
    display: block
}

.header .menu>li:hover>a:after {
    transform: rotate(0)
}

.header .menu>li a {
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 2.3em
}

@media(max-width:1800px) {
    .header .menu>li a {
        font-size: 1.27778vw
    }
}

.header .menu>li a:hover {
    color: #f6a021
}

.header .menu ul {
    position: absolute;
    display: none;
    width: auto;
    top: 100%;
    list-style: none;
    transform: translate(-5px);
    white-space: nowrap;
    padding-top: 1em
}

@media(max-width:1800px) {
    .header .menu ul {
        padding-top: .55556vw
    }
}

.header .menu ul li {
    background-color: rgba(0, 0, 0, .2);
    padding: 1.2em
}

@media(max-width:1800px) {
    .header .menu ul li {
        padding-top: .66667vw;
        padding-bottom: .66667vw;
        padding-left: .66667vw;
        padding-right: .66667vw
    }
}

.search {
    display: inline-block;
    margin-top: -.1em
}

@media(max-width:1800px) {
    .search {
        margin-top: -.05556vw
    }
}

.search-toggle {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block
}

.search-toggle svg {
    width: 100%;
    height: 100%;
    vertical-align: top
}

.search-box {
    display: inline-block;
    vertical-align: top
}

.search-box .search-input {
    border: 0;
    width: 0;
    height: 100%;
    color: #fff;
    transition: all .4s;
    background-color: transparent;
    font-size: 1.9em
}

@media(max-width:1800px) {
    .search-box .search-input {
        font-size: 1.05556vw;
    }
}

.search-box .search-input:focus {
    padding-left: .9375em;
    width: 9.375em
}

@media(max-width:1800px) {
    .search-box .search-input:focus {
        padding-left: .83333vw;
        width: 8.33333vw
    }
}

.footer {
    background: #2c3e50;
    border-top: 10px solid #f6a021;
    color: #fff;
    line-height: 1.42857143;
    border-top-width: 1em;
    padding-top: 4em;
    margin-top: 9em
}

@media(max-width:1800px) {
    .footer {
        border-top-width: .55556vw;
        padding-top: 2.22222vw;
        margin-top: 5vw
    }
}

.footer h6 {
    color: #f6a021;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    padding: 0;
    font-size: 2em;
    margin-bottom: 1.1em
}

@media(max-width:1800px) {
    .footer h6 {
        font-size: 1.11111vw;
        margin-bottom: 1.22222vw
    }
}

.footer p {
    line-height: 1.428571;
    color: #fff;
    margin-bottom: 1.22222em;
    font-size: 1.8em
}

@media(max-width:1800px) {
    .footer p {
        margin-bottom: 1.22222vw;
        font-size: 1vw
    }
}

.footer p:last-child {
    margin-bottom: 0
}

.footer ul {
    list-style: none
}

.footer .col-md-4 {
    margin-bottom: 1.5em
}

@media(max-width:1800px) {
    .footer .col-md-4 {
        margin-bottom: .83333vw
    }
}

.footer-about.col-md-4 {
    width: 50%;
    padding-right: 2%;
    text-align: justify
}

.footer-about a {
    cursor: pointer;
    color: #f6a021
}

.footer-about a:hover a {
    color: #fff
}

.footer-content.col-md-4 {
    width: 30%;
    padding-left: 11%
}

.footer-content a {
    display: block;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
    font-size: 1.8em;
    margin-bottom: .66667em
}

@media(max-width:1800px) {
    .footer-content a {
        font-size: 1vw;
        margin-bottom: .66667vw
    }
}

.footer-content a:hover {
    color: #f6a021
}

.footer-social.col-md-4 {
    width: 20%;
    padding-left: 5%;
    text-align: center
}

.footer-copyright {
    text-align: center;
    margin: 0;
    position: relative;
    color: #fff;
    margin-top: 2.5em;
    padding-top: 1.4em;
    padding-bottom: 1.3em
}

@media(max-width:1800px) {
    .footer-copyright {
        margin-top: 1.38889vw;
        padding-top: .77778vw;
        padding-bottom: .72222vw
    }
}

.footer-copyright:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 1px;
    width: 85%;
    background: #657b91;
    transform: translate(-50%)
}

.footer-copyright p {
    margin-bottom: .58824em;
    font-size: 1.7em
}

@media(max-width:1800px) {
    .footer-copyright p {
        margin-bottom: .55556vw;
        font-size: .94444vw
    }
}

.footer-copyright p:last-child {
    color: #657b91;
    margin-bottom: 0;
    font-size: 1.6em
}

@media(max-width:1800px) {
    .footer-copyright p:last-child {
        font-size: .88889vw
    }
}

.footer-copyright p:last-child a {
    color: #657b91
}

.footer-copyright p:last-child a:hover {
    text-decoration: underline
}

.fa {
    color: #fff;
    display: inline-block;
    margin-bottom: 1em
}

@media(max-width:1800px) {
    .fa {
        margin-bottom: .55556vw
    }
}

.fa svg {
    fill: #fff;
    width: 100%;
    height: 100%
}

.fa.fa-facebook {
    width: 1.072em;
    height: 2.5em
}

@media(max-width:1800px) {
    .fa.fa-facebook {
        width: .59556vw;
        height: 1.38889vw
    }
}

.fa.fa-twitter {
    width: 2.322em;
    height: 2.5em
}

@media(max-width:1800px) {
    .fa.fa-twitter {
        width: 1.29vw;
        height: 1.38889vw
    }
}

.fa.fa-google-plus {
    width: 2.3em;
    height: 2.5em
}

@media(max-width:1800px) {
    .fa.fa-google-plus {
        width: 1.27778vw;
        height: 1.38889vw
    }
}

.fa.fa-pinterest {
    width: 2.144em;
    height: 2.5em
}

@media(max-width:1800px) {
    .fa.fa-pinterest {
        width: 1.19111vw;
        height: 1.38889vw
    }
}

.fa.fa-instagram {
    width: 2.144em;
    height: 2.5em
}

@media(max-width:1800px) {
    .fa.fa-instagram {
        width: 1.19111vw;
        height: 1.38889vw
    }
}

.page-welcome .main {
    z-index: 1
}

.page-welcome .footer {
    margin-top: 0
}

.main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 108em
}

@media(max-width:1800px) {
    .main {
        height: 60vw
    }
}

.main .welcome-title {
    font-size: 7.4em
}

@media(max-width:1800px) {
    .main .welcome-title {
        font-size: 4.11111vw
    }
}

.main h1 {
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.2px;
    text-align: center;
    color: #fff;
    font-size: 7em;
    margin-bottom: .07143em;
    margin-top: -1em
}

@media(max-width:1800px) {
    .main h1 {
        font-size: 3.88889vw;
        margin-bottom: .27778vw;
        margin-top: -3.88889vw
    }
}

.main p {
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.2px;
    text-align: center;
    color: #fff;
    font-size: 5em
}

@media(max-width:1800px) {
    .main p {
        font-size: 2.77778vw
    }
}

.main .bg-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform: translateY(-2%);
    background-color: #000
}

.main .bg-video iframe,
.main .bg-video img,
.main .bg-video video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.main .bg-video video {
    animation: a cubic-bezier(.5, .7, .9, .9);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 16s
}

.main .lg-container {
    margin-top: -25em
}

@media(max-width:1800px) {
    .main .lg-container {
        margin-top: -13.88889vw
    }
}

@keyframes a {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.videos {
    text-align: center;
    margin-top: -40.8em;
    margin-bottom: 4em
}

@media(max-width:1800px) {
    .videos {
        margin-top: -22.66667vw;
        margin-bottom: 2.22222vw
    }
}

.videos h2 {
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f3f40;
    text-align: left;
    font-size: 3.7em
}

@media(max-width:1800px) {
    .videos h2 {
        font-size: 2.05556vw
    }
}

.videos .lg-container {
    background-color: #fff;
    padding-top: 4.8em
}

@media(max-width:1800px) {
    .videos .lg-container {
        padding-top: 2.66667vw
    }
}

.goods {
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em
}

@media(max-width:1800px) {
    .goods {
        margin-top: 5.55556vw;
        margin-bottom: 2.22222vw
    }
}

.goods h2 {
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f3f40;
    text-align: left;
    font-size: 3.7em;
    padding-bottom: .40541em
}

@media(max-width:1800px) {
    .goods h2 {
        font-size: 2.05556vw;
        padding-bottom: .83333vw
    }
}

.information {
    margin-top: -40.8em;
    padding-bottom: 9em
}

@media(max-width:1800px) {
    .information {
        margin-top: -22.66667vw;
        padding-bottom: 5vw
    }
}

.contact .container {
    background-color: #fff;
    z-index: 2;
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em
}

.information .container {
    background-color: #fff;
    z-index: 2;
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em
}

@media(max-width:1800px) {
    .information .container {
        padding-top: 1.66667vw;
        padding-bottom: 1.66667vw
    }
}

.information h2 {
    font-weight: 600;
    color: #3f3f40;
    text-transform: uppercase;
    margin-bottom: .33333em;
    font-size: 3em
}

@media(max-width:1800px) {
    .information h2 {
        margin-bottom: .55556vw;
        font-size: 1.66667vw
    }
}

.information h2:first-child {
    margin-bottom: 1em
}

@media(max-width:1800px) {
    .information h2:first-child {
        margin-bottom: 1.66667vw
    }
}

.information ul {
    padding-left: 3em;
    margin-top: 2em;
    margin-bottom: 3em
}

@media(max-width:1800px) {
    .information ul {
        padding-left: 1.66667vw;
        margin-top: 1.11111vw;
        margin-bottom: 1.66667vw
    }
}

.information ul li {
    line-height: 1.8;
    color: #495259;
    font-size: 2.2em;
    padding-left: .22727em
}

@media(max-width:1800px) {
    .information ul li {
        font-size: 1.22222vw;
        padding-left: .27778vw
    }
}

.information img {
    width: 100%;
    display: block;
    margin-top: 3em;
    margin-bottom: 2em
}

@media(max-width:1800px) {
    .information img {
        margin-top: 1.66667vw;
        margin-bottom: 1.11111vw
    }
}

.information p {
    line-height: 1.8;
    color: #495259;
    margin-top: .68182em;
    margin-bottom: .68182em;
    font-size: 2.2em
}

@media(max-width:1800px) {
    .information p {
        margin-top: .83333vw;
        margin-bottom: .83333vw;
        font-size: 1.22222vw
    }
}

.contact {
    position: relative;
    margin-top: -40.8em;
    margin-bottom: 3em
}

@media(max-width:1800px) {
    .contact {
        margin-top: -22.66667vw;
        margin-bottom: 1.66667vw
    }
}

.contact .lg-container {
    background-color: #fff;
    padding-top: 3em;
    padding-bottom: 3em
}

@media(max-width:1800px) {
    .contact .lg-container {
        padding-top: 1.66667vw;
        padding-bottom: 1.66667vw
    }
}

@media(max-width:1800px) {
    .contact .wrap {
        max-width: 61.11111vw
    }
}

.contact h2 {
    text-transform: none;
    font-weight: 800;
    margin-top: .41667em
}

@media(max-width:1800px) {
    .contact h2 {
        margin-top: .55556vw
    }
}

.contact p {
    line-height: 1.8;
    color: #495259;
    margin-top: .882em;
    margin-bottom: .68182em;
    font-size: 2.2em
}

@media(max-width:1800px) {
    .contact p {
        margin-top: 1.11111vw;
        margin-bottom: 1.11111vw;
        font-size: .88889vw
    }
}

.contact-image {
    width: 100%;
    margin-top: 3em
}

@media(max-width:1800px) {
    .contact-image {
        margin-top: 1.66667vw
    }
}

.contact-image img {
    width: 100%
}

.contact-form {
    width: 100%;
    padding-right: 10%
}

.contact-form form {
    text-align: center;
    margin-top: 3em
}

@media(max-width:1800px) {
    .contact-form form {
        margin-top: 1.66667vw
    }
}

.contact-form input[type=text],
.contact-form textarea {
    width: 100%;
    padding: 0 0 0 10px;
    border-radius: 3px;
    border: 2px solid #cacaca;
    font-weight: 600;
    background: #fff;
    min-height: 1px;
    text-align: left;
    cursor: text;
    outline: 0;
    height: 2.5em;
    margin-bottom: 1.25em;
    font-size: 1.6em
}

@media(max-width:1800px) {

    .contact-form input[type=text],
    .contact-form textarea {
        height: 2.22222vw;
        margin-bottom: 1.11111vw;
        font-size: .88889vw
    }
}

.contact-form input[type=text]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    color: #dbd0cc
}

.contact-form input[type=text]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
    color: #dbd0cc
}

.contact-form input[type=text]::placeholder,
.contact-form textarea::placeholder {
    color: #dbd0cc
}

.contact-form textarea {
    resize: none;
    padding-top: .3125em;
    height: 18em
}

@media(max-width:1800px) {
    .contact-form textarea {
        padding-top: .27778vw;
        height: 10vw
    }
}

.searching {
    margin-top: -43em;
    padding-top: 2em;
    padding-bottom: 2em
}

@media(max-width:1800px) {
    .searching {
        margin-top: -23.86667vw;
        padding-top: 1.11111vw;
        padding-bottom: 1.11111vw
    }
}

.searching .container {
    background: #f7f7f7;
    z-index: 2;
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em
}

@media(max-width:1800px) {
    .searching .container {
        padding-top: 1.66667vw;
        padding-bottom: 1.66667vw
    }
}

.searching-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.4em;
    margin-bottom: 1.4em
}

@media(max-width:1800px) {
    .searching-title {
        margin-top: .77778vw;
        margin-bottom: .77778vw
    }
}

.searching-title h2 {
    width: 45%;
    margin: 0;
    font-weight: 700
}

.searching-title input {
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    color: #000;
    line-height: 1;
    min-height: 0;
    height: 2em;
    padding-left: .66667em;
    font-size: 1.7em
}

@media(max-width:1800px) {
    .searching-title input {
        height: 1.66667vw;
        padding-left: .55556vw;
        font-size: .94444vw
    }
}

.searching-title button {
    background: #1965b3;
    padding: 0;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #1965b3;
    width: 2.8em;
    height: 2.8em
}

@media(max-width:1800px) {
    .searching-title button {
        width: 1.55556vw;
        height: 1.55556vw
    }
}

.searching-title button .search-toggle {
    width: 2em;
    height: 2em
}

@media(max-width:1800px) {
    .searching-title button .search-toggle {
        width: 1.11111vw;
        height: 1.11111vw
    }
}

.searching-action {
    width: 55%;
    position: relative;
    padding-right: 3.5em
}

@media(max-width:1800px) {
    .searching-action {
        padding-right: 1.94444vw
    }
}

.searching-result {
    color: #000;
    font-style: italic;
    font-size: 1.4em;
    margin-bottom: 1.42857em
}

@media(max-width:1800px) {
    .searching-result {
        font-size: .77778vw;
        margin-bottom: 1.11111vw
    }
}

.searching-list--item {
    margin-bottom: 3em
}

@media(max-width:1800px) {
    .searching-list--item {
        margin-bottom: 1.66667vw
    }
}

.searching-list--item strong {
    line-height: 1.5;
    font-weight: 700;
    display: block;
    margin-bottom: .4em
}

@media(max-width:1800px) {
    .searching-list--item strong {
        margin-bottom: .22222vw
    }
}

.searching-list--item strong a {
    color: #494949;
    font-size: 2.2em
}

@media(max-width:1800px) {
    .searching-list--item strong a {
        font-size: 1.22222vw
    }
}

.searching-list--item strong a:hover {
    text-decoration: underline
}

.searching-list--item a {
    color: #1965b3;
    font-size: 2.2em
}

@media(max-width:1800px) {
    .searching-list--item a {
        font-size: 1.22222vw
    }
}

.searching-list--item p {
    font-size: 2.2em;
    line-height: 1.8;
    margin-top: .68157em;
    margin-bottom: .68157em
}

@media(max-width:1800px) {
    .searching-list--item p {
        margin-top: .83333vw;
        margin-bottom: .83333vw;
        font-size: 1.22222vw
    }
}

.pagination {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em
}

@media(max-width:1800px) {
    .pagination {
        margin-top: 1.11111vw;
        margin-bottom: 1.11111vw
    }
}

.pagination .btnShowAll {
    display: inline-block;
    background: #1965b3;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid #1965b3;
    transition: all .3s linear;
    font-size: 1.5em;
    margin-top: 1.33333em;
    padding: .46667em 1em
}

@media(max-width:1800px) {
    .pagination .btnShowAll {
        font-size: .83333vw;
        margin-top: 1.11111vw;
        padding-top: .38889vw;
        padding-bottom: .38889vw;
        padding-left: .83333vw;
        padding-right: .83333vw
    }
}

.pagination .btnShowAll:hover {
    background: #fff;
    color: #1965b3
}

.pagination-controls a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    margin: 3px;
    padding: 0;
    vertical-align: top;
    position: relative;
    text-align: center;
    width: 2.22222em;
    height: 2.22222em;
    font-size: 1.8em;
    background: #1965b3;
    color: #fff;
    border: 2px solid #1965b3;
    border-radius: 4px;
    cursor: pointer
}

@media(max-width:1800px) {
    .pagination-controls a {
        width: 2.22222vw;
        height: 2.22222vw;
        font-size: 1vw
    }
}

.pagination-controls a.active {
    background: #fff;
    color: #1965b3;
    border: 2px solid #1965b3;
    border-radius: 4px
}

.pagination-controls .prev {
    background: #000;
    border: 2px solid #000;
    position: relative
}

.pagination-controls .prev:after,
.pagination-controls .prev:before {
    content: "";
    position: absolute;
    display: inline-block;
    border: 2px solid #fff;
    border-right: transparent;
    border-top: transparent;
    transform: rotate(45deg);
    width: .44444em;
    height: .44444em
}

@media(max-width:1800px) {

    .pagination-controls .prev:after,
    .pagination-controls .prev:before {
        width: .44444vw;
        height: .44444vw
    }
}

.pagination-controls .prev:after {
    transform: rotate(45deg)translate(40%, -40%)
}

.pagination-controls .next {
    background: #000;
    border: 2px solid #000;
    position: relative
}

.pagination-controls .next:after,
.pagination-controls .next:before {
    content: "";
    position: absolute;
    display: inline-block;
    border: 2px solid #fff;
    border-right: transparent;
    border-top: transparent;
    transform: rotate(-135deg);
    width: .44444em;
    height: .44444em
}

@media(max-width:1800px) {

    .pagination-controls .next:after,
    .pagination-controls .next:before {
        width: .44444vw;
        height: .44444vw
    }
}

.pagination-controls .next:after {
    transform: rotate(-135deg)translate(40%, -40%)
}

@media screen and (max-width:991px) {
    .container {
        max-width: 84.89583vw;
        padding-left: 2.60417vw;
        padding-right: 2.60417vw
    }

    .lg-container {
        max-width: 78.125vw;
        padding-left: 6.64063vw;
        padding-right: 6.64063vw
    }

    .wrap {
        max-width: 100%
    }

    .row {
        margin-left: -1.95313vw;
        margin-right: -1.95313vw
    }

    .row-flex {
        margin-left: -1.30208vw;
        margin-right: -1.30208vw
    }

    .col-md-4,
    .col-md-5 {
        padding-left: 1.30208vw;
        padding-right: 1.30208vw
    }

    .col-md-6 {
        padding-left: 1.95313vw;
        padding-right: 1.95313vw
    }

    .col-md-7 {
        padding-left: 1.30208vw;
        padding-right: 1.30208vw
    }

    .col-md-12 {
        padding-left: 1.95313vw;
        padding-right: 1.95313vw
    }

    .col-sm-6 {
        width: 50%;
        float: left;
        padding-left: 1.30208vw;
        padding-right: 1.30208vw
    }

    .thumb-video {
        margin-top: 2.60417vw
    }

    .thumb-video__content {
        height: 19.14063vw
    }

    .thumb-video__description {
        padding: .65104vw 1.43229vw;
        min-height: 15.36458vw
    }

    .thumb-video__description-title {
        line-height: 1.4;
        font-size: 2.08333vw
    }

    .thumb-video__description p {
        font-size: 1.95313vw
    }

    .thumb-video__description span {
        margin-right: 1.95313vw;
        font-size: 1.82292vw
    }

    .thumb-video__description span:last-child {
        margin-right: 0
    }

    .thumb-goods {
        margin-top: 2.60417vw
    }

    .thumb-goods__image {
        height: 26.43229vw
    }

    .thumb-goods__description {
        padding: 1.04167vw 1.82292vw 1.95313vw
    }

    .thumb-goods__description-title {
        font-size: 2.21354vw;
        margin-bottom: 1.30208vw
    }

    .thumb-goods__description p {
        font-size: 1.82292vw
    }

    .thumb-goods__description .result {
        margin-top: 1.30208vw
    }

    .thumb-goods__description .result span {
        font-size: 2.21354vw;
        margin-top: 1.30208vw
    }

    .btn-more {
        font-size: 2.21354vw;
        padding: 1.04167vw 3.90625vw;
        margin-top: 3.90625vw
    }

    .btn-buy {
        width: 11.32813vw;
        height: 3.51563vw
    }

    .btn-send {
        font-size: 2.08333vw;
        padding: .78125vw 5.20833vw;
        margin-top: 2.60417vw
    }

    .btn-send:hover {
        color: #1965b3;
        background: #fff
    }

    body.open-menu {
        overflow: hidden
    }

    .hamburger-js {
        display: block;
        top: 2.99479vw
    }

    .open-menu .btn-toggle {
        background-color: #3f3f40
    }

    .open-menu .btn-toggle:before {
        transform: translateY(-50%)rotate(45deg)scale(1);
        margin: 0
    }

    .open-menu .btn-toggle:after {
        transform: translateY(-50%)rotate(-45deg)scale(1);
        margin: 0
    }
}

@media screen and (max-width:991px) {
    .header .nav {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #3f3f40
    }

    .header .nav .menu {
        display: inline-block;
        margin-top: 14.32292vw
    }

    .header .nav .menu li {
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 6.51042vw
    }

    .header .nav .menu li a {
        font-size: 3.125vw
    }

    .header .nav .menu li a svg {
        width: 2.34375vw;
        height: 2.34375vw
    }

    .header .nav .menu li.menu-item-has-children>a:after {
        position: absolute;
        left: 100%;
        width: 3.51563vw;
        height: 2.34375vw;
        top: .65104vw
    }

    .header .nav .menu ul {
        position: relative;
        transform: translate(0);
        padding-top: 2em
    }
}

@media screen and (max-width:991px)and (max-width:1800px) {
    .header .nav .menu ul {
        padding-top: 1.11111vw
    }
}

@media screen and (max-width:991px) {
    .header .nav .menu ul li {
        background: transparent;
        margin-top: 3.90625vw
    }

    .header .nav .menu ul li a {
        font-weight: 400;
        font-size: 3.125vw
    }

    .search {
        position: absolute;
        right: 16.92708vw;
        top: 3.64583vw
    }

    .search-box,
    .search-toggle {
        vertical-align: top
    }

    .search-box .search-input {
        font-size: 2.08333vw
    }

    .search-box .search-input:focus {
        padding-left: 1.95313vw;
        width: 19.53125vw
    }
}

@media screen and (max-width:991px) {
    .footer {
        border-top-width: 1.30208vw;
        padding-top: 5.20833vw;
        margin-top: 11.71875vw
    }

    .footer h6 {
        font-size: 2.08333vw;
        margin-bottom: 1.95313vw
    }

    .footer p {
        font-size: 1.82292vw;
        margin-top: 1.5625vw
    }

    .footer .col-md-4 {
        margin-bottom: 1.95313vw
    }

    .footer-about.col-md-4 {
        width: 50%;
        padding-right: 2%
    }

    .footer-content.col-md-4 {
        width: 30%;
        padding-left: 11%
    }

    .footer-content a {
        font-size: 1.82292vw;
        margin-bottom: 1.5625vw
    }

    .footer-social.col-md-4 {
        width: 20%;
        padding-left: 5%
    }

    .footer-copyright {
        margin-top: 3.25521vw;
        padding-top: .52083vw;
        padding-bottom: 1.69271vw
    }

    .footer-copyright p {
        margin-bottom: 1.30208vw;
        font-size: 1.5625vw
    }

    .footer-copyright p:last-child {
        font-size: 1.43229vw
    }

    .fa {
        margin-bottom: 1.30208vw
    }

    .fa.fa-facebook {
        width: 1.43229vw;
        height: 3.25521vw
    }

    .fa.fa-google-plus,
    .fa.fa-twitter {
        width: 2.99479vw;
        height: 3.25521vw
    }

    .fa.fa-instagram,
    .fa.fa-pinterest {
        width: 2.86458vw;
        height: 3.25521vw
    }
}

@media screen and (max-width:991px) {
    .main {
        height: 56.25vw
    }

    .videos {
        margin-top: -13.02083vw;
        margin-bottom: 2.60417vw
    }

    .videos h2 {
        font-size: 3.51563vw;
        padding-bottom: 2.60417vw
    }

    .videos .lg-container {
        padding-top: 5.20833vw
    }

    .goods {
        margin-top: 10.41667vw;
        margin-bottom: 2.60417vw
    }

    .goods h2 {
        font-size: 3.51563vw;
        padding-bottom: 1.30208vw;
        max-width: 40.36458vw
    }

    .information {
        margin-bottom: 0;
        margin-top: -13.02083vw
    }

    .information .container {
        padding-top: 3.90625vw;
        padding-bottom: 3.90625vw
    }

    .information .lg-container {
        max-width: 89.58333vw;
        padding: 4.29688vw 2.21354vw 0
    }

    .information h2 {
        margin-bottom: 1.30208vw;
        font-size: 3.125vw
    }

    .information ul {
        padding-left: 3.90625vw;
        margin-top: 2.60417vw;
        margin-bottom: 3.90625vw
    }

    .information ul li {
        font-size: 2.08333vw;
        padding-left: .65104vw
    }

    .information img {
        margin-top: 3.90625vw;
        margin-bottom: 2.60417vw
    }

    .information p {
        margin-top: 1.95313vw;
        margin-bottom: 1.95313vw;
        font-size: 2.08333vw
    }

    .contact {
        margin-top: -13.02083vw;
        margin-bottom: 3.90625vw
    }

    .contact .lg-container {
        max-width: 100%;
        padding-top: 3.90625vw;
        padding-bottom: 3.90625vw
    }

    .contact .wrap {
        max-width: 100%
    }

    .contact h2 {
        margin-top: 1.30208vw;
        font-size: 3.125vw
    }

    .contact p {
        margin-top: 2.60417vw;
        margin-bottom: 2.60417vw;
        font-size: 2.08333vw
    }

    .contact-image {
        margin-top: 3.90625vw
    }

    .contact-form {
        padding-right: 10%
    }

    .contact-form form {
        margin-top: 3.90625vw
    }

    .contact-form input[type=text],
    .contact-form textarea {
        padding: 0 0 0 10px;
        border-radius: 3px;
        height: 5.20833vw;
        margin-bottom: 2.60417vw;
        font-size: 2.08333vw
    }

    .contact-form textarea {
        padding-top: .65104vw;
        height: 23.4375vw
    }
}

@media screen and (max-width:660px) {
    .container {
        width: 100%;
        padding-left: 3.125vw;
        padding-right: 3.125vw
    }

    .lg-container {
        max-width: 80.9375vw;
        padding-left: 6.5625vw;
        padding-right: 6.5625vw
    }

    .row {
        margin-left: -2.34375vw;
        margin-right: -2.34375vw
    }

    .row-flex {
        margin-left: -1.5625vw;
        margin-right: -1.5625vw
    }

    .col-xs-12 {
        width: 100%;
        padding-left: 1.5625vw;
        padding-right: 1.5625vw
    }

    .thumb-video {
        margin-top: 3.125vw
    }

    .thumb-video__content {
        height: 41.5625vw
    }

    .thumb-video__description {
        padding: .78125vw 1.71875vw;
        min-height: 37.5vw
    }

    .thumb-video__description-title {
        font-size: 5vw
    }

    .thumb-video__description p {
        font-size: 4.6875vw
    }

    .thumb-video__description span {
        line-height: 1.4;
        margin-right: 2.34375vw;
        font-size: 4.375vw
    }

    .thumb-video__description span:last-child {
        margin-right: 0
    }

    .thumb-goods {
        margin-top: 3.125vw;
        margin-bottom: 4.6875vw
    }

    .thumb-goods__image {
        height: 64.6875vw
    }

    .thumb-goods__description {
        padding: 2.1875vw 3.75vw 2.34375vw 2.5vw
    }

    .thumb-goods__description-title {
        font-size: 4.375vw;
        margin-bottom: 1.5625vw
    }

    .thumb-goods__description p {
        font-size: 3.75vw
    }

    .thumb-goods__description .result {
        margin-top: 1.5625vw
    }

    .thumb-goods__description .result span {
        font-size: 5.3125vw;
        margin-top: 1.5625vw
    }

    .btn-more {
        white-space: nowrap;
        font-size: 5.3125vw;
        padding: 1.25vw 4.6875vw;
        margin-top: 4.6875vw
    }

    .btn-buy {
        width: 24.375vw;
        height: 7.5vw
    }

    .btn-send {
        width: 100%;
        font-size: 4.6875vw;
        padding: .9375vw 6.25vw;
        margin-top: 3.125vw
    }

    .btn-send:hover {
        color: #1965b3;
        background: #fff
    }
}

@media screen and (max-width:660px) {
    .header .lg-container {
        padding-left: 0;
        padding-right: 0
    }

    .header .logo {
        top: 1.5625vw
    }

    .header .nav .menu {
        margin-top: 17.1875vw
    }

    .header .nav .menu li {
        margin-top: 7.8125vw
    }

    .header .nav .menu li a {
        font-size: 7.5vw
    }

    .header .nav .menu li a svg {
        width: 5.625vw;
        height: 5.625vw
    }

    .header .nav .menu li.menu-item-has-children>a:after {
        position: absolute;
        left: 100%;
        width: 7.8125vw;
        height: 5.46875vw;
        top: .9375vw;
        margin-left: .78125vw
    }

    .header .nav .menu ul {
        padding-top: 3.125vw
    }

    .header .nav .menu ul li {
        margin-top: 4.6875vw
    }

    .header .nav .menu ul li a {
        font-size: 7.5vw
    }

    .search {
        right: 20.3125vw;
        top: 3.90625vw
    }

    .search-box .search-input {
        font-size: 5vw;
        margin-top: -.625vw
    }

    .search-box .search-input:focus {
        padding-left: 2.34375vw;
        width: 31.25vw
    }
}

@media screen and (max-width:660px) {
    .footer {
        border-top-width: 3.125vw;
        padding-top: 9.375vw;
        margin-top: 25vw
    }

    .footer .container {
        max-width: 100%
    }

    .footer h6 {
        font-size: 4.6875vw;
        margin-bottom: 2.34375vw
    }

    .footer p {
        font-size: 3.75vw;
        margin-bottom: 6.25vw
    }

    .footer p,
    .footer ul {
        margin-top: 4.6875vw
    }

    .footer .col-md-4 {
        margin-bottom: 2.34375vw
    }

    .footer-about.col-md-4 {
        width: 100%;
        padding-right: 2.34375vw;
        padding-left: 2.34375vw
    }

    .footer-content.col-md-4 {
        width: 50%;
        padding-right: 2.34375vw;
        padding-left: 2.34375vw
    }

    .footer-content a {
        font-size: 4.375vw;
        margin-bottom: 3.125vw
    }

    .footer-social.col-md-4 {
        width: 50%;
        padding-right: 2.34375vw;
        padding-left: 2.34375vw
    }

    .footer-copyright {
        margin-top: 3.90625vw;
        padding: .625vw 2.34375vw 2.03125vw
    }

    .footer-copyright p {
        margin-bottom: 3.125vw;
        margin-top: 3.125vw;
        font-size: 3.75vw
    }

    .footer-copyright p:last-child {
        font-size: 3.59375vw
    }

    .fa {
        margin-bottom: 3.125vw
    }

    .fa.fa-facebook {
        width: 3.125vw;
        height: 7.5vw
    }

    .fa.fa-google-plus,
    .fa.fa-twitter {
        width: 6.875vw;
        height: 7.5vw
    }

    .fa.fa-instagram,
    .fa.fa-pinterest {
        width: 6.5625vw;
        height: 7.5vw
    }
}

@media screen and (max-width:660px) {
    .main {
        height: 82.8125vw
    }

    .main h1 {
        font-size: 7.8125vw
    }

    .main p {
        font-size: 6.25vw
    }

    .main .lg-container {
        padding-left: 0;
        padding-right: 0
    }

    .videos {
        margin-top: -21.875vw;
        margin-bottom: 3.125vw
    }

    .videos h2 {
        font-size: 5vw;
        padding-bottom: 3.125vw
    }

    .videos .lg-container {
        padding-top: 4.6875vw
    }

    .goods {
        margin-top: 9.375vw;
        margin-bottom: 6.25vw
    }

    .goods h2 {
        max-width: 100%;
        font-size: 5vw;
        padding-bottom: 3.125vw
    }

    .information {
        margin-top: -29.94792vw
    }

    .information .container {
        max-width: 94.27083vw
    }

    .information .lg-container {
        padding-top: 0;
        max-width: 96.35417vw
    }

    .information h2 {
        padding-top: 2.60417vw;
        margin-bottom: 1.30208vw;
        font-size: 5vw
    }

    .information br {
        display: none
    }

    .information ul {
        padding-left: 4.6875vw;
        margin-top: 6.25vw;
        margin-bottom: 9.375vw
    }

    .information ul li {
        font-size: 5vw;
        padding-left: .78125vw
    }

    .information img {
        margin-top: 4.6875vw;
        margin-bottom: 3.125vw
    }

    .information p {
        margin-top: 3.125vw;
        margin-bottom: 3.125vw;
        font-size: 5vw
    }

    .contact {
        margin-top: -15.625vw;
        margin-bottom: 4.6875vw
    }

    .contact .lg-container {
        padding-top: 4.6875vw;
        padding-bottom: 4.6875vw
    }

    .contact h2 {
        margin-top: 1.5625vw;
        font-size: 6.25vw
    }

    .contact p {
        margin-top: 3.125vw;
        margin-bottom: 3.125vw;
        font-size: 5vw
    }

    .contact-image {
        margin-top: 9.375vw
    }

    .contact-form {
        padding-right: 0
    }

    .contact-form form {
        margin-top: 4.6875vw
    }

    .contact-form input[type=text],
    .contact-form textarea {
        height: 12.5vw;
        margin-bottom: 6.25vw;
        font-size: 5vw
    }

    .contact-form textarea {
        padding-top: 1.5625vw;
        height: 39.0625vw
    }
}