/*
Theme Name: CutThePlastic
Theme URI:
Author: Polyarix
Author URI:
Description:
Version: 1.0
License:
License URI:
Tags:
Text Domain:

*/


.contact .container, .information .container {
    z-index: 1!important;
}
.information img {
    height: 100%;
}